/* CSS Document */

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    color: black;
}

body {
    margin: 0;
    background-color: rgb(105, 105, 105);


}



/************************/
/* LAYOUT VAN DE HEADER */
/************************/

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: rgb(240, 240, 240);
    padding-bottom: 6px;



}


header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(14ch, 23%, 20ch);
}


/*************/
/* logo/name */
/*************/



header > a {
    display: block;
    width: 7.5em;
    height: 3.5em;
    line-height: 1em;
    padding: .75em 0 .0 2.75em;

    font-weight: bold;
    color: DarkSlateGray;
    background: url("BV_IconicLogo.png") .75em center / auto 2.75em no-repeat;

    text-decoration: none;
    outline: none;

}



header > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;


    width: clamp(30px, 5vw, 40px);
}

header > a > img:hover {

    transform: scale(0.7);
    transition: 0.4s ease;

}


/*************/
/* navigatie    
Pure CSS Hamburger Menu & Overlay
Refference: https://codepen.io/bradtraversy/pen/vMGBjQ
*/
/*************/
#menu-wrap {

    top: 0;
    right: 0;
    z-index: 1;

}

#menu-wrap .toggler {
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;

}


#menu-wrap .hamburger {

    top: 0;
    right: ;
    width: 60px;


    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition:

}

#menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

}

#menu-wrap .hamburger > div:before,
#menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}




#menu-wrap .hamburger > div:after {
    top: 10px;

}

#menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);

}

#menu-wrap .toggler:checked + .hamburger > div:before,
#menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}



#menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

#menu-wrap .toggler:checked ~ .menu-overlay {
    visibility: visible;
}

#menu-wrap .toggler:checked ~ .menu-overlay > div {
    transform: scale(1);

}





#menu-wrap .toggler:checked ~ .menu-overlay > div > div {
    opacity: 1;
    transition: opacity 0, 4s ease;

}

#menu-wrap .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 120%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0.9;

}

#menu-wrap .menu-overlay > div {
    background-color: white;
    border-radius: 10%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    transform: scale(0);







}




#menu-wrap .menu-overlay > div > div {
    text-align: center;
    max-width: 100vw;
    max-height: 200vh;
    transition: opacity 0.4s ease;
    opacity: 0;
}

#menu-wrap .menu-overlay > div > div > ul > li {
    list-style: none;

    font-size: 1.5rem;
    padding: 1rem;
}



#menu-wrap .menu-overlay > div > div > ul > li > a {
    color: black;
    text-decoration: none;
    transition: color 0.4s ease;
    font-family: roboto;
    font-weight: 700;
    font-size: 22px;
    position: relative;

}




#menu-wrap .menu-overlay > div > div > ul > li > a:hover {
    color: rgb(210, 168, 205);



}





/******************/
/* Eerste section
/******************/


.outer {

    justify-content: center;
    display: flex;
    height: 100%;
    background-color: rgb(105, 105, 105);






}

/******************/
/* Carousel_bovenkant_Home */
/******************/


h1 {
    color: white;
    font-size: clamp(18px, 2vw, 23px);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;



}



.inner {


    margin-top: 5px;
    background-color: #56c6e1;
    padding-top: 2px;
    width: clamp(46ch, 50%, 66ch);

}


.inner img {



    display: block;
    width: 100%;
}



.inner #h2-1 {

    font-size: clamp(14px, 2vw, 18px);
    color: white;


    text-align: center;

    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

/******************/
/* Carousel_Buttons */
/******************/

.button-container {
    display: flex;
    justify-content: center;
    background-color: rgb(105, 105, 105);


    padding-top: 10px;
    padding-bottom: 10px;


}

.button-container button + button {

    margin-left: 1px;


}

.button-container button {
    padding: 1px;
    margin: 5px;
    background-color: rgb(130, 130, 130);
    border: 2px solid rgb(130, 130, 130);
    border-radius: 25px;
    outline: none;
}

.button-container > button:focus {
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
}

.button-container > button.active {
    font-weight: bold;
    /* de cursor geen handje wordt als je over de active link hovert */
    cursor: default;
}

div.button-container > button:hover:not(.active) {
    /* als je over een link in het menu (maar niet de active link) hovert */

    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}


/* Carousel_Script */
.inner.anders-1 {
    color: #56c6e1;
    background-color: #56c6e1;

}

.inner.anders-2 {
    color: #17a555;
    background-color: #17a555;

}

.inner.anders-3 {
    color: #ed5C4b;
    background-color: #ed5C4b;

}

.inner.anders-4 {
    color: #f9b86e;
    background-color: #f9b86e;

}






/******************/
/* Articles */
/******************/

.articles {



    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: 20px;
    grid-gap: 20px;

    padding: 40px;

    background-color: rgb(217, 217, 217);
    padding-top: 30px;

}




/******************/
/* Thema's */
/******************/




/*********animaties *********/

@keyframes fadeIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }

    from {
        top: 0px;
    }

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*********thema 1 *********/
.gewoonGoed {
    background-color: white;
    cursor: pointer;


}

.gewoonGoed img {
    width: 100%;
    border-bottom: 4px solid rgb(93, 184, 217);
}


.gewoonGoed:hover {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.4s ease;

}

.gewoonGoed:nth-last-of-type(1) {
    animation: fadeIn 10s ease;


}

.gewoonGoed:nth-last-of-type(3) {
    animation: fadeIn 8s ease;



}

.gewoonGoed:nth-last-of-type(8) {
    animation: fadeIn 5s ease;



}

.gewoonGoed:nth-last-of-type(4) {
    animation: fadeIn 9s ease;


}

/*********thema 2 *********/

.sustainablePlanet {
    background-color: white;
    cursor: pointer;
}

.sustainablePlanet img {


    border-bottom: 4px solid rgb(23, 165, 85);
    width: 100%;
}

.sustainablePlanet:hover {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.4s ease;

}



.sustainablePlanet:nth-last-of-type(2) {
    animation: fadeIn 13s ease;


}

.sustainablePlanet:nth-last-of-type(5) {
    animation: fadeIn 16s ease;


}

.sustainablePlanet:nth-last-of-type(6) {
    animation: fadeIn 14s ease;


}

.sustainablePlanet:nth-last-of-type(7) {
    animation: fadeIn 12s ease;


}

.sustainablePlanet:nth-last-of-type(11) {
    animation: fadeIn 6s ease;


}

.sustainablePlanet:nth-last-of-type(13) {
    animation: fadeIn 9s ease;


}

/*********thema 3 (link) *********/
a {
    text-decoration: none;
}

a .sustainablePlanet {
    background-color: white;
    cursor: pointer;
    height: 100%;
    padding-bottom: 1px;

}



/*********thema 3 *********/

.inspirerendeMensen {
    background-color: white;
    cursor: pointer;
}

.inspirerendeMensen img {

    border-bottom: 4px solid rgb(237, 92, 75);
    width: 100%;
}

.inspirerendeMensen:hover {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.4s ease;

}

.inspirerendeMensen:nth-last-of-type(9) {
    animation: fadeIn 12s ease;


}

.inspirerendeMensen:nth-last-of-type(10) {
    animation: fadeIn 6s ease;


}

.inspirerendeMensen:nth-last-of-type(12) {
    animation: fadeIn 3s ease;


}

/******************/
/* Typography articles*/
/******************/



.articles h3 {


    color: black;
    font-size: 16px;

    background-color: white;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}


.articles h3 {


    color: black;
    font-size: 16px;

    background-color: white;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}


.articles p {



    color: black;
    font-size: 12px;

    background-color: white;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

/******************/
/* Footer*/
/******************/

footer {
    background-color: rgb(240, 240, 240);
    padding: 90px 0;
    margin:
}

.footer-container {
    max-width: 1300px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footerLogo {
    width: 230px;
    text-align: center;
}

.social-media {



    justify-content: space-around;


    margin-right: 50px;

    display: flex;

}

.social-media .icon {
    width: 100%;
    color: aliceblue;
    width: 20px;
}

svg:hover {
    fill: rgb(210, 168, 205);
}



.left-text {
    color: black;
    font-size: 12px;
}

.right-col h4 {
    font-size: 26px;
    color: black;


}

.right-col a {
    font-size: 14px;
    color: black;
    bottom: 0;
    text-decoration: none;

}


.right-col a:hover {
    color: rgb(210, 168, 205);

}

/******************/
/* Footerresponsive*/
/******************/

@media screen and (max-width:660px) {
    .footer-container {
        max-width: 600px
    }

    .right-col {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }

    .left-col {
        width: 100%;
        text-align: center;
    }


}

/******************/
/* Pagina 2*/
/******************/
.pagina2 {
    flex-direction: column;

    display: flex;

    background-color: rgb(217, 217, 217);
    align-items: center;


}


.pagina2 section {

    margin-top: 30px;

    min-width: 375px;
    max-width: 700px;
    background: linear-gradient(180deg, rgb(23, 165, 85) 50%, #ffffff 60%);



}



.pagina2 section img {



    display: block;
    width: 100%;

    border-bottom: rgb(23, 165, 85) 3px solid;
}

.pagina2 section .dza {


    width: clamp(140px, 14vw, 180px);
    border: none;

}

.dza.anders {
    float: right;

}

.pagina2 section a {
    color: rgb(23, 165, 85);
}

.pagina2 section a:hover {
    color: rgb(156, 156, 156);
}


.pagina2 section h2 {

    background-color: rgb(23, 165, 85);
    font-size: clamp(14px, 2vw, 18px);
    color: white;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -10px
}



.pagina2 section .animatie {
    background-color: white;
    font-size: clamp(14px, 2vw, 18px);
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(23, 165, 85);



}

.pagina2 section p {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.3;
    color: black;
    font-size: clamp(12px, 2vw, 15px);
}

@media screen and (max-width:600px) {
    .pagina2 section h2 {

        text-align: center;
    }
}
@media screen and (max-width:360px) {
    .pagina2 section  {

            min-width: 320px;
    }
}


/******************/
/* Pagina 2 section 2*/
/******************/
.pagina2 section:nth-child(2) {

    margin-bottom: 40px;
    background: white;



}

.pagina2 section h5 {
    font-size: clamp(12px, 2vw, 16px);
    margin-bottom: -5px;
    color: black;
    background-color: white;

    padding-right: 15px;
    padding-left: 15px;



}

.pagina2 section:nth-child(2) img {
    border: none;


}